*{
    box-sizing: border-box;
    padding: 0;
    margin:0 auto;  

}
.header-container{
    width: 1200px;
    height: 800px;
    margin:0 auto;  border: 1px solid;
    position: relative;
    top: 10px;
    background-color:  #E5E5E5;
}
.nav1-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 1px solid;
    box-sizing: border-box;
    background-color:#5B4A58;
    color: white;
    
    }
    .nav1-list{
        list-style: none;
    }
    .vladvastok{
        color: green;
    }
    .whatsupp{
        color: green;
    }
    .nav2-container{
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        border: 1px solid;
        background-color: #FFFFFF;
    }
    .nav2-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0 auto;
        margin-left: 70px;
        margin-right: 30px;

    }
   
    .nav2-item a{
        text-decoration: none;
        
    }
    .nav2-link{
        color: rgb(3, 0, 0);
    }
    .dollor{
        color:rgb(133, 128, 128);
        
    }
    .glavniy{
        margin-top: 32px;
        margin-left: 90px;
        margin-bottom: 36px;
    }
    .hero{
        display: flex;
        width: 970px;
        height: 500px;
        border: 1px solid;
        // margin-left: 90px;
    }
    .hero-img{
        padding: 0;
        margin: 0;
        // margin-left: 90px;
    }
    .hero-img-img{
     width: 450px;
     height: 420px;
    }
    .img-list{
        display: flex;
        width: 450px;
        height: fit-content;
        list-style: none;
        padding: 0;
        margin: 0;
        
    }
    .hero-right{
        width: 650px;
        height: fit-content;
        // border: 1px solid;  
    }
    .hero-up{
        width: 400px; 
        margin: 10px;

      }
    .hero-up-text{
        margin-top:13px;
        margin-bottom: 13px;
    }
    .hero-input{
       list-style: none;
       display: flex;
    }
    .input-btn{
        // position: absolute;
        display: flex;
        width: 150px;
        height: 50px;
        margin-right: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        align-items: center;

    }
    .dostavka{
        width: 500px;
        height: 273px;
        border: 1px solid;
        border-radius: 7px;
        background-color:#FFFFFF;
    }
    .dost-title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        margin-left: 20px;
        margin-bottom: 20px;

    }
    .dost-list{
        margin-left: 40px;
        margin-bottom: 10px;
        
    }
    .dost-text{
        margin-bottom: 20px;
        height: 24px;
        // margin-bottom: 10px;
       

    }
    .korzinka{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .plus{
        display: flex;
        align-items: center ;
        width: 150px;
        height: 50px;
        border: 1px solid;
        border-radius: 7px;
        background-color: #FFFFFF;

      .pilus{
        color: #afa1ad;
      }
      .minus{
        color: green;
      }
    }
    .summa{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 50px;
        border: 1px solid;
        border-radius: 7px;
        gap: 10px;
        background-color: #FFFFFF;
        .summa-title{
            color: green;
            display: block;
            display: inline;

        }
    .lock{

        width: 200px;
        height: 40px;
        border: 1px solid;
        border-radius: 7px;
        background-color: green;
        color: #FFFFFF;
        .fa-solid{
            margin-right: 7px;
        }
    }    
    }



